

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1700  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 11    // default: 10


#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <36 37>;
            layers = <0>;
        };

        del {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 10>;
            layers = <0>;
        };

        btpair-l {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <40 41>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <28 29>;
            layers = <0>;
        };

        esc {
            bindings = <&gresc>;
            key-positions = <2 1>;
            layers = <0>;
        };

        btpair-r {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <52 53>;
            layers = <0>;
        };
    };

    behaviors {
        homerowl: homerowl {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROWL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <6 7 8 9 10 11 19 20 21 22 23 24 25 33 34 35 36 37 38 39 47 48 49 50 51 52 53>;
            flavor = "hold-preferred";
        };

        homerowr: homerowr {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROWR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 18 26 27 28 29 30 31 32 40 41 42 43 44 45 46>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&trans        &kp Q             &kp W             &kp E              &kp R               &kp T                                      &kp Y   &kp U               &kp I              &kp O             &kp P                     &trans
&trans        &homerowl LALT A  &homerowl LCMD S  &homerowl LCTRL D  &homerowl LSHIFT F  &kp G   &mt C_MUTE C_VOL_UP      &kp HOME  &kp H   &homerowr RSHIFT J  &homerowr RCTRL K  &homerowr RCMD L  &homerowr RALT SEMICOLON  &trans
&trans        &kp Z             &kp X             &kp C              &kp V               &kp B   &mt C_MUTE C_VOL_DN      &kp END   &kp N   &kp M               &kp COMMA          &kp PERIOD        &kp FSLH                  &trans
&bt BT_SEL 0  &bt BT_SEL 1      &trans            &kp SPACE          &lt 1 SPACE         &trans  &trans                   &trans    &trans  &lt 2 SPACE         &kp SPACE          &trans            &bt BT_SEL 2              &bt BT_SEL 4
            >;
        };

        syst {
            bindings = <
&trans        &studio_unlock     &mt C_PP C_PREV  &mt C_PP C_NEXT  &kp C_BRI_DN  &kp C_BRI_UP                      &msc MOVE_X(-170)  &msc MOVE_Y(-170)  &msc MOVE_Y(170)  &msc MOVE_X(170)  &trans       &trans
&trans        &trans             &trans           &trans           &trans        &trans        &trans      &trans  &kp LEFT_ARROW    &kp DOWN_ARROW    &kp UP_ARROW     &kp RIGHT_ARROW  &trans       &trans
&trans        &mt GLOBE K_CMENU  &kp PAGE_UP      &kp PAGE_DOWN    &mkp MB4      &mkp MB5      &trans      &trans  &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP     &mmv MOVE_RIGHT  &trans       &trans
&out OUT_TOG  &bootloader        &trans           &trans           &trans        &trans        &trans      &trans  &trans            &mkp LCLK         &mkp RCLK        &mkp MCLK        &bootloader  &out OUT_TOG
            >;
        };

        syms {
            bindings = <
&trans  &mt F1 N1  &mt F2 N2  &mt F3 N3  &mt F4 N4  &mt F5 N5                                &mt F6 N6  &mt F7 N7  &mt F8 N8      &mt F9 N9  &mt F10 N0  &trans
&trans  &trans     &trans     &trans     &trans     &trans     &mt F12 F11      &mt F16 F15  &trans     &trans     &trans         &trans     &trans      &trans
&trans  &trans     &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT   &mt F14 F13      &mt F18 F19  &kp GRAVE  &kp SQT    &kp BACKSLASH  &trans     &trans      &trans
&trans  &trans     &trans     &trans     &trans     &trans     &trans           &trans       &trans     &trans     &trans         &trans     &trans      &trans
            >;
        };
    };
};
